{% extends "base.html" %}

{% block content %}

SITESEARCH INDEX

<script type="text/javascript">
    function doPopAll(PopAll) {
        var pop = document.getElementById("PopAll");
        
        for (j = 1; j <= 100; j++) {
            if (j < 10) { j = "0" + j.toString(); }
            else { j = j.toString(); }
            console.log(j)
            item = document.getElementById("Search" + j);
            if (item != null) { item.value = pop.value; }
        }
    }

    function doClearAll(ClearAll,PopAll) {
        var pop = document.getElementById("ClearAll");
        var popitem = document.getElementById("PopAll");
        for (j = 1; j <= 100; j++) {
            if (j < 10) { j = "0" + j.toString(); }
            else { j = j.toString(); }
            console.log(j)
            item = document.getElementById("PopAll")
            ;
            if (item != null) { item.value = null; }                    
            item = document.getElementById("Search" + j)
                ;
            if (item != null) { item.value = null; }
        }
        // if (popitem != null) { popitem.value = null; }
    }


function doSearch(Url01, Search01){
    window.open(Url01 + Search01, 'Search01window');
}        
function doall(all){
    window.open("https://thegrayzone.com/?s=" + all, "Search01window");
    window.open('https://www.rt.com/search?q=' + all, 'Search02window');
    window.open('https://sputnikglobe.com/search/?query=' + all, 'Search03window');
    window.open('https://www.telesurenglish.net/?s=' + all, 'Search04window');
    window.open('https://www.saba.ye/en/search.htm?q=' + all, 'Search05window');
    window.open('https://geopoliticaleconomy.com/?s=' + all, 'Search06window');
}

</script>

<form class="row m-1" onsubmit="doPopAll(this.PopAll.value); return false;">    

    <div class="col-4">
        <input type="search" class="form-control" id="PopAll" name="PopAll" placeholder="Search Terms" aria-label="Search Terms" aria-describedby="PopAllButton">
    </div>
    <div class="col-2">
        <button class="btn btn-secondary" type="submit" id="PopAllButton" style="width:240px">Populate All</button>
    </div>    
</form>

<form class="row m-1" onsubmit="doSearch(this.UrlString.value, this.Search01.value); return false;">
    <div class="col-4">
        <input type="text" class="form-control" id="Search01" name="Search01" placeholder="" aria-label="" aria-describedby="SearchButton">
        <input type="hidden" id="UrlSring" name="UrlString" value="https://thegrayzone.com/?s=">
    </div>
    <div class="col-2">
        <button class="btn btn-outline-secondary" type="submit" id="SearchButton" style="width:240px">The Grayzone</button> 
    </div>
</form>



{% endblock %}
